<template>
	<view class="content">
		<p @click="toDetail">biblebuild</p>
	</view>
</template>

<script>
import { login } from "@/services/user";

export default {
	onLoad() {
		this.login();
	},
	methods: {
		async login() {
			const [, { code }] = await uni.login();
			const res = await login({
				principal: code
			})
			console.log(res);
			uni.setStorage({
				key: 'login',
				data: res.access_token,
				success: function () {
					console.log('success');
				}
			});
		},
		toDetail() {
			this.$toPage({
				url: "/pages/detail/index",
				query: {
					id: 9
				}
			})
		}
	}
}
</script>

<style>
.content {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.logo {
	height: 200rpx;
	width: 200rpx;
	margin: 200rpx auto 50rpx auto;
}

.text-area {
	display: flex;
	justify-content: center;
}

.title {
	font-size: 36rpx;
	color: #8f8f94;
}
</style>
