<template>
  <view class="content" @click="to">
     添加编辑地址
  </view>
</template>

<script>
export default {
  methods:{
    to(){
      uni.navigateTo({
        url: "/pages/detail/index"
      })
    }
  }
}
</script>

<style>

</style>