<template>
    <view class="content" @click="to">
       地址
    </view>
  </template>
  
  <script>
  export default {
     methods:{
      to(){
         uni.navigateTo({
            url: "/pages/address/addEdit"
         })
      }
     }
  }
  </script>
  
  <style>
  
  </style>