<template>
    <view class="content" @click="toAdd">
       搜索
    </view>
  </template>
  
  <script>
  export default {
    methods: {
      toAdd() {
         uni.navigateTo({
            url: "/pages/address/index"
         })
      }
    }
  }
  </script>
  
  <style>
  
  </style>