<template>
  <view class="content" @click="toSearch">
		详情
	</view>
</template>

<script>
export default {
  methods: {
	toSearch() {
		uni.navigateTo({
			url: "/pages/search/index"
		})
	}
  }
}
</script>

<style>

</style>